@model IPagedList<_5_ListingFeatures.Models.Trainer>

@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/PagedList.css" rel="stylesheet" />

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="float-end">
    @using (Html.BeginForm("Index", "Trainers", FormMethod.Get))
    {
        @Html.TextBox("search")
        <input type="submit" value="Search" class="btn btn-info" />
    }
</div>

@using (Html.BeginForm("DeleteMultiple", "Trainers", FormMethod.Post))
{
    <div>
        <input type="submit" value="Delete Selected" class="btn btn-danger"
               onclick="return deleteMultiple()" />
    </div>
    <table class="table">
        <tr>
            <th>
                <input type="checkbox" name="selectAll" /> All
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
                @Html.ActionLink("Name", "Index",
               new { search = Request["search"], sort = ViewBag.NameSort })
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Experience)*@
                @Html.ActionLink("Experience", "Index",
             new { search = Request["search"], sort = ViewBag.ExperienceSort })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().DateOfBirth)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" name="TrainerToDelete" value="@item.Id" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Experience)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { search = Request["search"], sort = Request["sort"], page = page })
, new PagedListRenderOptions()
    {
        Display = PagedListDisplayMode.IfNeeded,
        DisplayItemSliceAndTotal = true
    })

}
<script>

    $(function () {
        $('[name="selectAll"]').click(function () {
            debugger;
            // var checked = $(this).val();
            var checked = $(this).prop('checked');
            $('[name="TrainerToDelete"]').prop('checked', checked);
        });

        $('[name="TrainerToDelete"]').click(function () {
            var total = $('[name="TrainerToDelete"]').length;
            var selected = $('[name="TrainerToDelete"]:checked').length;

            if (total == selected) {
                $('[name="selectAll"]').prop('checked', true);
            }
            else {
                $('[name="selectAll"]').prop('checked', false);
            }
        });
    });

    function deleteMultiple() {
        var selected = $('[name="TrainerToDelete"]:checked').length
        return confirm('Are you sure you want to delete ' + selected + ' trainers?');
    }

</script>